
*,
html,
body {
    box-sizing:  border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
    width:  100%;
    height:  100%;
    margin:  0;
    padding:  0;
}

body {
    background-image:  url(../img/bg.png);
    background-size:  cover;
    background-attachment:  fixed;
    font-family: 'Poppins', Sans-serif;
    font-weight:  300;
    margin:  0;
    padding: 0;
    color:  #fff;
    background-color:  #A4A9A8;
    background-size:  cover;
    background-position:  fixed;
}

body.sidebar-open {
    overflow: hidden;
}

a,
a:visited {
    color:  #fff;
}

button {
    transition:  all 300ms ease;
    text-align:  center;
    cursor:  pointer;
    border:  0;
    background: rgba(0,0,0,0.3);
    color:  rgba(255,255,255,0.7);
    display:  inline-block;
    border-radius:  20px;
    padding:  10px 30px;
}

button:hover {
    background: rgba(0,0,0,0.5);
}


.btn1 {
    color:  #093B35;
    background-color: #F3B51B;
    opacity:  0.8;
    display:  block;
    margin:  0 auto 10px;
}

.btn1:hover {
    color:  #093B35;
    background-color: #F3B51B;
    opacity:  1;
}

.btn2 {
    background:  transparent;
    text-decoration:  underline;
    display:  inline;
    text-align:  center;
    color:  #A4A9A8;
}

.btn2:hover {
    background:  transparent;
    color:  #fff;
}

.btn-full-width {
    text-align:  center;
    width:  100%;
    display: block;
    padding:  22px;
    border-radius:  32px;
    font-weight:  bold;
}

.btn-sidebar {
    cursor:  pointer;
}

.btn-text-link {
    transition:  all 300ms ease;
    color:  #093B35;
    opacity:  0.6;
    font-size:  12px;
    font-weight: 400;
}

.btn-text-link:hover {
    opacity:  1;
}


.disabled {
    pointer-events: none!important;
    opacity:  0.5!important;
}

input[type=text],
input[type=email] {
    border:  0;
    font-size:  28px;
    text-align:  center;
    font-family: 'Poppins', Sans-serif;
    max-width:  100%;
}

input[type=text]:focus {
    border:  0;
    outline:  none;
}

label {
    transition:  all 300ms ease;
    cursor:  pointer;
}

label:hover {
    color:  rgba(0,0,0,0.8);
}

textarea {
    display: block;
    border:  0;
    font-family:  inherit;
    font-size:  28px;
    width: 440px;
    max-width:  100%;
    padding:  20px;
    border-radius:  6px;
}

#app .selectric,
#app .selectric .button {
    background:  #fff;
    border:  0;
}

#app .date-dropdowns {
    display:  flex;
}

#app .date-dropdowns .selectric-wrapper {
    width:  33.333%;
}


/* Customize  radio buttons */
label.container {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

label.container .check {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border:  2px solid #093B35;
    border-radius: 50%;
}

label.container input:checked ~ .check {
    background: #093B35;
}

label.container .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #093B35;
    content: "";
    position: absolute;
    display: none;
}

label.container .container input:checked ~ .check:after {
    display: block;
}


/* Custom checkboxes */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #F2F9EF;
    border:  2px solid #093B35;
    margin: 0;
    width: 16px;
    height: 16px;
    cursor:  pointer;
    display:  inline-block;
    vertical-align:  middle;
    position:  relative;
    border-radius:  3px;
    margin-right: 6px;
}

input[type="checkbox"]:before {
    content: "";
    font-family: 'FontAwesome';
    content:  "\f00c";
    font-size:  12px;
    display:  block;
    opacity:  0;
    color: #fff;
    position:  absolute;
    top:  0;
    left:  0;
}

input[type="checkbox"]:checked {
    background-color: #093B35;
}

input[type="checkbox"]:checked:before {
    opacity:  1;
    color: #fff;
}

h1,
h2,
h3
h4 {
    color:  inherit;
    line-height:  108%;
    font-weight:  600;
}

h1 {
    font-size: 62px;
    margin-top:  0;
}

h3 {
    font-size:  22px;
}

#app {
    display:  block;
    width:  100%;
    position:  relative;
    margin:  0 auto;
}

#app .wrapper {
    position:  relative;
    width:  54%;
    max-width:  1000px;
    margin:  0 auto;
    min-height:  100%;
    padding-bottom:  80px;
    overflow:  hidden;
}

#start:not(.left) {
    left:  0;
}

.frame {
    transition:  all 800ms ease;
    text-align:  center;
    position:  absolute;
    display:  flex;
    align-items:  center;
    flex-wrap:  wrap;
    padding:  0 20px;
    max-width:  100%;
    margin:  0 auto;
    z-index: 1;
    left:  100%;
    top: 0;
    bottom: 0;
}

.frame .frame-contents {
    width:  100%;
    border-radius:  5px;
    min-height:  600px;
    overflow:  hidden;
}

.frame .bubble:nth-child(2) {
    transition-delay:  100ms;
}

.frame .bubble:nth-child(3) {
    transition-delay:  200ms;
}

.frame .bubble:nth-child(4) {
    transition-delay:  300ms;
}

.frame.active {
    position:  relative;
    z-index: 2;
    left: 0;
}

.frame.left {
    transition-delay:  100ms;
    opacity:  0;
    left:  -100%;
}

.frame:not(.active) button {
    pointer-events:  none;
    opacity:  0.3;
}

#app-header {
    position: relative;
    width:  100%;
    height:  90px;
    padding:  20px;
    z-index:  100;
}

#app-header .branding {
    float:  left;
}

#app-header button {
    float:  right;

}

.stroke-left {
    padding-left:  10px;
    border-left:  3px solid #F3B51B;
}

.btn-help {
    position:  fixed;
    top:  20px;
    right:  20px;
    background:  #A38F60;
    width:  60px;
    height:  60px;
    color:  #fff;
    text-decoration:  none;
    border-radius:  20px 20px 5px 20px;
    padding:  0;
    z-index: 101;
}

#app-sidebar {
    transition:  all 300ms ease;
    width:  380px;
    min-height:  100vh;
    position:  fixed;
    right:  -380px;
    top:  0;
    background-color:  #fff;
    font-size:  14px;
    z-index: 102;
}

body.sidebar-open #app-sidebar {
    right:  0;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}


#app-sidebar .app-sidebar-content {
    padding:   0 40px 20px;
    color:  #000;
    display: none;
    overflow-y:  scroll;
    height:  100vh;
    padding-bottom:  210px;
}

#app-sidebar .app-sidebar-x {
    background-image: url(../img/icon-menu-close.svg);
    background-size: cover;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    margin: 20px 20px 0;
    cursor: pointer;
    margin-left:  auto;
}

#app-sidebar .app-sidebar-footer {
    background-image:  url(../img/help-footer.svg);
    background-size:  100% auto;
    background-position:  center top;
    position:  absolute;
    bottom:  0;
    left:  0;
    width:  100%;
    display:  block;
    text-align:  center;
    padding: 35px 20px 20px;
    color:  #093B35;
    font-size:  14px;
    line-height:  1.2;
}

#app-sidebar .app-sidebar-footer a {
    color:  #093B35;
}

#app-sidebar .app-sidebar-footer img {
    display:  block;
    width:  80px;
    height:  80px;
    border-radius:  50%;
    margin:  0 auto;
    border:  3px solid #EFF7EB;
    margin-top:  -45px;
}

#resultat-footer {
    display: none;
}

body.resultat #resultat-footer,
body.halsodeklaration #resultat-footer,
body.sammanfattning #resultat-footer {
    display: block;
}

#resultat-widget {
    position:  absolute;
    top:  0;
    left:  76.5%;
    width:  22%;
    max-width:  320px;
    opacity:  0;
}

#resultat-widget .resultat-widget-contents {
    display:  block;
}

#resultat-widget .resultat-widget-contents .inner {
    background-color:  #F2F9EF;
    border-top:  20px solid #093B35;
    border-radius:  5px;
    color:  #000;
    margin-bottom: 60px;
    padding-bottom:  1px;
    overflow:  hidden;
}

#resultat-widget.fixed {
    position:  fixed;
    max-width:  100%;
    width: 100%;
    left:  0;
}

#resultat-widget.fixed .resultat-widget-contents {
    position:  absolute;
    left:  76.5%;
    display:  block;
    width:  22%;
    max-width:  320px;
}

body.resultat #resultat-widget,
body.halsodeklaration #resultat-widget,
body.sammanfattning #resultat-widget {
    opacity:  1;
}

#resultat-widget .resultat-widget-header {
    padding:  30px 20px;
    background:  #E2F0D9;
    color: #093B35;
    text-align:  center;
    font-size:  24px;
    line-height:  1.3;
}

#resultat-widget .resultat-widget-header h3 {
    margin:  0;
}

#resultat-widget .resultat-widget-body {
    position:  relative;
    padding:  30px 20px 20px;
    font-size:  14px;
}

#resultat-widget .resultat-widget-body .jamfor-header {
    text-align:  center;
    padding-bottom:  20px;
}

#resultat-widget  .resultat-widget-table {
    border-collapse:  collapse;
    text-align:  left;
    font-size:  12px;
    margin:  10px 0;
}

#resultat-widget  .resultat-widget-table th,
#resultat-widget  .resultat-widget-table td {
    font-weight:  400;
    padding:  5px 20px;
}

.jamfor-price {
    font-weight:  bold;
}

.jamfor-more-text {
    display:  none;
}

.fa.jamfor-show-more {
    text-align: right;
    display: block;
    width:  100%;
    font-size: 30px;
    cursor:  pointer;
}

#resultat-widget .startdatum-wrapper {
    text-align:  center;
    padding:  10px 20px 30px;
    background-color: #E2F0D9;
}

#resultat-widget .btn-next {
    width:  70%;
    margin:  20px auto;
}

body.resultat #resultat-widget .resultat-widget-table,
body.halsodeklaration #resultat-widget .resultat-widget-table,
body.sammanfattning #resultat-widget .resultat-widget-body {
    display:  none;
}


/* Footer */

#app-footer {
    padding: 0 20px 20px;
    width:  100%;
    z-index:  10;
}

#app-footer #progress {
    background-color: rgba(0,0,0,0.15);
    display: block;
    height:  4px;
    border-radius:  2px;
    content: "";
    margin-bottom:  20px;
}

#app-footer #progress .progress-fill {
    width:  10%;
    background-color: #fff;
    display: block;
    height:  4px;
    border-radius:  2px;
    content: "";
}

/* UI elements */

.radio-select {
    overflow:  hidden;
}

.frame-caption {
    transition:  all 200ms ease;
    color:  #fff;
    text-align: center;
    margin:  0 auto 10%;
    max-width:  680px;
    font-size: 20px;
    opacity:  0;
    scale:  0.6;
}

.frame .bubble-contents {
    transition:  all 200ms ease;
    position:  relative;
    display: block;
    opacity:  0;
    scale:  0.6;
}

.frame.active .frame-caption,
.frame.active .bubble-contents {
    overflow: visible;
    opacity:  1;
    scale:  1;
}

.frame.left .frame-caption,
.frame.left .bubble-contents {
    opacity:  0;
    scale:  0.6;
}

.bubble {
    position:  relative;
    display:  block;
    margin-bottom:  100px;
    z-index: 1;
}

.bubble label {
    transit
    display: block;
}

.bubble input[type=radio] {
    position:  absolute;
    display: block;
    left:  -100px;
    overflow: hidden;
}

.bubble .bubble-select {
    padding: 0;
}

.bubble.left {
    float:  left;
}

.bubble.right {
    float:  right;
}

.bubble .bubble-contents {
    display:  block;
    overflow:  hidden;
    position:  relative;
    transition:  all 300ms ease;
    border-radius:  6px;
    box-shadow:  2px 2px 4px rgba(0,0,0,0.15);
    background-color: #ffffff;
    padding: 26px;
    color:  #093B35;
}

.bubble-type-a {
    width:  100%;
}

.bubble-type-a .bubble-contents {
    width:  46%;
    background-color: #E2F0D9;
}

.bubble-type-a .bubble-contents:before {
    position:  absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom:  -20px;
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #E2F0D9;
    z-index: 2;
}

.bubble-type-b,
.bubble-type-c {
    width: 50%;
    position:  relative;
    text-align:  left;
    margin-bottom:  20px;
    z-index: 1;
    overflow:  hidden;
}

.bubble-type-b .bubble-contents {
    padding:  52px 26px;
}

.bubble-type-b.left,
.bubble-type-c.left {
    padding-right: 4%;
}

.bubble-type-b.right,
.bubble-type-c.right {
    padding-left: 4%;
}

.bubble-type-c .bubble-contents {
    max-width:  200px;
    text-align:  center;
}

.bubble-type-c.left .bubble-contents {
    margin-left:  auto;
    padding-right: 4%;
}

.bubble-type-c.right .bubble-contents {
    margin-right:  auto;
    padding-left: 4%;
}

.bubble-type-b .bubble-contents:hover,
.bubble-type-c .bubble-contents:hover,
.bubble-type-b.selected .bubble-contents,
.bubble-type-c.selected .bubble-contents {
    background-color: #E2F0D9;
}

.bubble-type-d {
    width:  100%;
}

.bubble-type-d .bubble-contents {
    display:  inline-block;
    margin:  0 auto;
    max-width:  440px;
    min-width: 340px;
}

.bubble-type-d {
    width:  100%;
}



.input-radio ul,
.bubble ul {
    text-align:  left;
    list-style-type:  none;
    margin:  0;
    padding:  0;
}

.input-radio ul,
ul.bubble-select {
    padding:  0;
    max-width:  800px;
    margin:  0 auto;
    text-align:  center;
}

.input-radio ul li,
ul.bubble-select li {
    display: inline-block;
    margin:  0 15px 30px;
}

.input-radio ul li label,
ul.bubble-select li label {
    display: inline-block;
    border-radius:  6px;
    padding:  26px 52px;
    background:  #333;
    color:  #fff;
}

.input-radio ul li label:hover,
ul.bubble-select li label:hover {
    background:  #444;
    color:  #fff;
}

.input-radio ul li.selected label,
.input-radio ul li.selected label:hover,
ul.bubble-select li.selected label:hover,
ul.bubble-select li.selected label {
    background-color: #093B35;
    color:  #fff;
}

.bubble.input-textarea .bubble-contents {
    padding: 6px;
}

#resultat .frame-contents.
#halsodeklaration .frame-content {
    margin:  100px 0;
}

.frame-resultat {
    background-color:  #fff;
    padding:  10px 60px 60px;
    color:  #000;
}

.frame-resultat h2 {
    margin-bottom:  60px;
}

.frame-resultat h4 {
    text-align:  left;
    font-weight:  400;
    margin:  40px 0 0;
}

.frame-resultat h4 .fa {
    transition: all 300ms ease;
    color: #093B35;
    vertical-align:  top;
    opacity:  0.5;
}

.frame-resultat h4 .fa:hover {
    opacity:  1;
}

.frame-resultat p {
    text-align:  left;
    font-size:  14px;
}

.frame-resultat hr {
    border:  0;
    border-top:  2px solid #F3B51B;
    max-width:  320px;
    margin:  50px auto;
}

.frame-resultat table {
    width:  100%;
    margin:  0 auto 40px;
    border-collapse:  collapse;
}

.frame-resultat .sammanfattning {
    text-align:  left;
    padding: 0 10%;
}

.frame-resultat .sammanfattning a {
    color: #093B35;
}

.frame-resultat table th,
.frame-resultat table td {
    padding:  12px 0;
}

.frame-resultat table th {
    text-align:  left;
    font-weight:  500;
}

.frame-resultat table td {
    text-align:  right;
}

.frame-resultat table.table-border th,
.frame-resultat table.table-border td {
    border-bottom:  2px solid #A7BAB6;
}

.frame-resultat-header {
    padding:  30px;
    text-align:  left;
    background-color:  #093B35;
    color:  #fff;
    position:  relative;
    padding:  40px 40px 6%;
    height:  auto;
    background-image: url('../img/cut-bottom-w.svg');
    background-size: 102% auto;
    background-position:  bottom -1px center;
    background-repeat:  no-repeat;
}

.frame-resultat-header #resultat-forsakring-price {
    display: none;
}

.frame-resultat-header #resultat-forsakring-type {
    display: block;
    margin:  0;
}

.frame-resultat-header #resultat-horse-name {
    display:  block;
    font-size:  32px;
    line-height: 108%;
    font-weight: 600;
    margin-top:  0;
}

.frame-resultat-header:after {
    clear:  both;
    content:  "";
    display:  table;
}

.frame-resultat-header .left{
    display:  inline-block;
    float:  left;
}

.frame-resultat-header .right{
    position:  relative;
    width:  40%;
    display:  block;
    float:  right;
}

.frame-resultat-header-mobile {
    display:  none;
}

.frame-resultat .frame-resultat-yesno {
    padding:  0 10%;
    margin:  0 auto 60px;
    text-align:  left;
}

.frame-resultat .frame-resultat-yesno h4 {
    font-size: 14px;
    margin-bottom:  20px;
}

.frame-resultat .frame-resultat-yesno label.container {
    margin-right:  60px;
}


.frame-resultat .frame-resultat-text-inputs {
    padding:  20px 10% 60px;
    background: #E2F0D9;
    margin-bottom:  20px;
    display: none;
}

.frame-resultat .frame-resultat-text-inputs input {
    width:  100%;
    border-radius:  5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    padding: 8px;
    margin-top:  8px;
}

.required {
    color: #D92626;
}

.editinplace {
    position: relative;
    display:  inline-block;
    padding: 0 20px 0 0;
}

.editinplace:after {
    content: "";
    font-family: 'FontAwesome';
    content:  "\f040";
    font-size:  14px;
    display:  block;
    color: #000;
    position:  absolute;
    top:  2px;
    right:  0;
}

.editinplace .label,
.editinplace input.edit {
    position:  relative;
    color:  inherit;
    font-size:  inherit;
    line-height:  inherit;
    font-weight:  inherit;
    font-family:  inherit;
    background:  transparent;
    border:  0;
    width:  auto;
    text-align:  inherit;
    padding: 0;
    margin:  0;
    display:  none;
}

.editinplace .label.show,
.editinplace input.edit.show {
    display:  inline-block;
}

.editinplace input.edit.show {
    background: #F2F9EF;
}


.resultat-acceptance-checkbox {
    text-align:  center;
    padding: 0;
}

ul.resultat-slide-select {
    background-color:  #EFF7EB;
    background-repeat:  repeat-y;
    border-radius:  8px;
    margin: 0 auto 10px;
    padding:  0;
    list-style: none;
    position: relative;
    overflow:  hidden;
    display:  block;
}

ul.resultat-slide-select:after {
    content: "";
    clear:  both;
    display: table;
}

ul.resultat-slide-select li {
    position: relative;
    float:  left;
    display:  block;
    z-index:  10;
    height:  60px;
    padding: 0;
    color: rgba(0,0,0,0.5);
    line-height:  60px;
    text-align: center;
    font-weight:  400;
    cursor: pointer;
    font-size: 14px;
    outline:  none;

    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    -ms-transition: 200ms ease;
    transition: 200ms ease;
}

ul.resultat-slide-select li.selected {
    color: #EFF7EB;
}

ul.resultat-slide-select li input {
    display: none;
}

ul.resultat-slide-select li label {
    color: inherit;
    display:  block;
    height:  60px;
}

ul.resultat-slide-select .marker {
    border-radius:  8px;
    background: #093B35;
    position: absolute;
    width: 33.5%;
    height: 60px;
    bottom: 0;
    left: 0;

    transition: 300ms cubic-bezier(0.34, 0.01, 0.59, 1.03);
}

ul.resultat-slide-select.options-1 {
    background-image:  url('../img/border.png');
    background-position:  center left 100%;
}

ul.resultat-slide-select.options-2 {
    background-image:  url('../img/border.png');
    background-position:  center left 50%;
}

ul.resultat-slide-select.options-3 {
    background-image:  url('../img/border.png'), url('../img/border.png');
    background-position:  center left 33.333%, center left 66.666%;
}

ul.resultat-slide-select.options-4 {
    background-image:  url('../img/border.png'), url('../img/border.png'), url('../img/border.png');
    background-position:  center left 25%, center left 50%,center left 75%;
}

ul.resultat-slide-select.options-2 li {
    width:  50%;
}

ul.resultat-slide-select.options-3 li {
    width:  33.333%;
}

ul.resultat-slide-select.options-4 li {
    width:  25%;
}

ul.resultat-slide-select.options-2 .marker {
    width: 50.5%;
}

ul.resultat-slide-select.options-3 .marker {
    width: 33.5%;
}

ul.resultat-slide-select.options-4 .marker {
    width: 25.5%;
}

ul.resultat-slide-select.options-2 li:nth-child(1).selected ~ .marker {
    left: 0%!important;
}
ul.resultat-slide-select.options-2 li:nth-child(2).selected ~ .marker {
    left: 49.8%!important;
}


ul.resultat-slide-select.options-3 li:nth-child(1).selected ~ .marker {
    left: 0%!important;
}
ul.resultat-slide-select.options-3 li:nth-child(2).selected ~ .marker {
    left: 33.333%!important;
}
ul.resultat-slide-select.options-3 li:nth-child(3).selected ~ .marker {
    left: 66.5%!important;
}


ul.resultat-slide-select.options-4 li:nth-child(1).selected ~ .marker {
    left: 0%!important;
}
ul.resultat-slide-select.options-4 li:nth-child(2).selected ~ .marker {
    left: 24.8%!important;
}
ul.resultat-slide-select.options-4 li:nth-child(3).selected ~ .marker {
    left: 49.8%!important;
}
ul.resultat-slide-select.options-4 li:nth-child(4).selected ~ .marker {
    left: 74.8%!important;
}

body.resultat #app-footer,
body.halsodeklaration #app-footer  {
    display:  none;
}


/* Range slider */
#livvarde-slider.range-slider.ui-slider {
    border: 0;
    height: 60px;
    border-radius: 8px;
    background:  #EFF7EB;
}

.range-slider.ui-slider .ui-slider-pip-inrange,
.range-slider.ui-slider .ui-slider-pip .ui-slider-line {
    background: #fff;
    transition: all 0.4s ease;
}

.range-slider.ui-slider .ui-slider-handle,
.range-slider.ui-slider .ui-slider-handle:focus,
.range-slider.ui-slider .ui-slider-handle:active,
.range-slider.ui-slider .ui-slider-handle:hover {
    width: 30px;
    height: 100px;
    background-color:  transparent;
    background-image:  url('../img/slider-handle.svg');
    border-radius: 0;
    border:  0;
    outline:  none;
    cursor:  pointer;
}

.range-slider.ui-slider .ui-slider-pip {
    display:  none;
    height:  44px;
    top:  8px;
}

.range-slider.ui-slider .ui-slider-pip-50000,
.range-slider.ui-slider .ui-slider-pip-100000,
.range-slider.ui-slider .ui-slider-pip-150000,
.range-slider.ui-slider .ui-slider-pip-200000,
.range-slider.ui-slider .ui-slider-pip-250000,
.range-slider.ui-slider .ui-slider-pip-300000,
.range-slider.ui-slider .ui-slider-pip-350000,
.range-slider.ui-slider .ui-slider-pip-400000,
.range-slider.ui-slider .ui-slider-pip-450000 {
    display:  block;
}


.range-slider.ui-slider .ui-slider-pip .ui-slider-line {
    width: 1px;
    height: 100%;
    margin-left: -1px;
}

.range-slider.ui-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    height: 20px;
}

.range-slider.ui-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    height: 12px;
}

#resultat-price-mobile {
    position:  fixed;
    bottom:  0;
    left:  0;
    width:  100%;
    padding:  16px;
    background: #F3B51B;
    text-align:  center;
    color: #093B35;
    display:  none;
    z-index:  80;
    font-size:  18px;
}

#resultat-price-mobile .resultat-price {
    font-weight:  bold;
}

/* Resultat footer */

#resultat-footer .row {
    position:  relative;
    display: block;
    padding:  6%;
    text-align:  center;
    background:  #fff;
    color:  #000;
}


#resultat-footer .row-1 {

}

#resultat-footer .row-1 h2 {
    line-height: 1.4;
}

#resultat-footer .row-2 {
    background:  #F9FCF8;
}

#resultat-footer .row-2 ul {
    display: flex;
    flex-wrap:  wrap;
    justify-content:  space-between;
    position:  relative;
    max-width:  1100px;
    margin:  8% auto 0;
    padding:  0;
}

#resultat-footer .row-2 ul li.usp-box {
    transition:  all 300ms ease;
    width:  23%;
    position: relative;
    display: block;
    background-color: #fff;
    background-size: 65% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 23%;
    border-radius: 20px;
    margin-bottom: 3%;
    box-shadow: 0 0 10px rgba(9, 59, 53,0.4);
    opacity:  0.5;
    pointer-events: none;
}

#resultat-footer .row-2 ul li.usp-box.included {
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

#resultat-footer .row-2 ul li:hover {
    box-shadow: 0 0 15px rgba(9, 59, 53,0.6);
}

#resultat-footer .row-2 .box-title {
    font-weight: 500;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 15px 20px;
    font-size: 12px;
}


#resultat-footer .row-3 {
    font-size:  14px;
}

#resultat-footer .row-3 a {
    text-decoration:  none;
    font-weight:  bold;
    color: #093B35;
}

#resultat-footer .row-3 .info-columns {
    display: flex;
    flex-wrap:  wrap;
    justify-content:  space-between;
    position:  relative;
    max-width:  1000px;
    margin:  8% auto 0;
}

#resultat-footer .row-3 .info-columns .col {
    width:  33%;
}


#resultat-footer .row-4 {
    background:  #F9FCF8;
    border-bottom:  40px solid #093B35;
}

.accordion-tabs {
    text-align:  left;
    list-style:  none;
    max-width:  800px;
    margin:  0 auto;
}

.accordion-tabs .tab {
    transition:  all 200ms ease;
    overflow:  hidden;
    border-bottom:  2px solid #A7BAB6;
}

.accordion-tabs .tab .tab-content{
    display: none;
    padding: 20px 0;
}

.accordion-tabs .tab .tab-title {
    position:  relative;
    display:  block;
    margin:  0;
    padding: 20px 0;
    cursor:  pointer;
}

.accordion-tabs .tab .tab-title .tab-icon {
    transition: all 300ms ease;
    position: absolute;
    background-color: #000;
    content: "";
    width:  19px;
    height:  3px;
    right:  0;
    top: 32px;
}

.accordion-tabs .tab:not(.open) .tab-title .tab-icon {
    transform:  rotate(90deg);
}

.accordion-tabs .tab:not(.open) .tab-title .tab-icon:after {
    position:  absolute;
    background-color:  #000;
    content:  "";
    width:  3px;
    height:  19px;
    right:  8px;
    top: -8px;
}


.popup-overlay {
    position:  fixed;
    top:  0;
    left:  0;
    width:  100%;
    min-height:  100vh;
    background-color:  rgba(9,59,53,0.6);
    z-index:  110;
    align-items: center;
    justify-content:  center;
    display: none;
}

.popup-open .popup-overlay {
    display: flex;
}

.popup {
    position:  relative;
    border-radius:  20px;
    background-color: #F9FCF8;
    color:  #000;
    max-width: 90%;
    width:  680px;
    padding: 20px 6% 0;
    overflow:  hidden;
}

.popup-close-x {
    background-image: url(../img/icon-menu-close.svg);
    background-size: cover;
    position: absolute;
    top:  20px;
    right: 20px;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.popup h3 {
    text-align:  center;
}

.popup ul {
    background-image: url(../img/popup-ul-bg.svg);
    background-size: cover;
    list-style-type: none;
    display: block;
    margin-left: -20%;
    margin-right: -20%;
    margin-bottom: 0;
    padding: 15% 20% 20px;
    color:  #fff;
}

.popup ul li {
    position: relative;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 5px 0 5px 32px;
    color: #fff;
}

.popup ul li:before {
    background-image: url('../img/li-checkmark.svg');
    background-size: cover;
    width: 22px;
    height: 22px;
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
}


@media (max-width: 1024px) {


    .btn-help {
        top:  auto;
        bottom:  80px;
        position:  fixed;
        z-index:  10;
    }

    .frame-resultat-header {
        text-align:  center;
        padding:  30px;
        background-color:  #093B35;
        color:  #093B35;
        background: #F3B51B;
    }

    .frame-resultat-header #resultat-forsakring-price {
        display: block;
        font-weight:  bold;
        font-size:  24px;
    }

    .frame-resultat-header #resultat-forsakring-type {
        display: inline;
        font-weight:  bold;
        font-size:  16px;
        line-height: 1.4;
        margin:  0;
    }

    .frame-resultat-header #resultat-horse-name {
        display:  inline;
        font-size:  16px;
        line-height: 1.4;
        font-weight: normal;
    }

    .frame-resultat-header-mobile {
        display:  block;
        color:  #093B35;
        background: #EFF7EB;
        padding:  30px 10px 10px;
    }

    #app-header {
        background-color: #093B35;
        height:  auto;
    }

    #app-header .branding {
        display: block;
        float: none;
        margin:  0 auto;
        width:  120px;
    }

    #app {
        min-height:  1px;
    }

    #app-sidebar.open {
        width:  100%;
    }

    #app .wrapper {
        width:  100%;
        padding: 0;
    }

    .bubble {
        margin-bottom:  50px;
    }

    .bubble-type-a .bubble-contents,
    .bubble-type-b {
        width: 100%;
        max-width:  100%;
    }

    .bubble-type-b.left,
    .bubble-type-b.right {
        padding-right: 0;
        padding-left: 0;
    }

    .frame {
        padding: 0;
    }

    .frame .frame-contents {
        border-radius:  0;
    }

    #resultat-widget {
        display:  none;
    }

    #resultat-price-mobile {
        display: block;
    }

    #resultat-footer .row-2 ul li {
        width:  48%;
        padding-top: 48%;
        margin-bottom: 4%;
    }

}


#app.dev {
    height:  auto;
}

#app.dev .wrapper {
    overflow: visible;
}

#app.dev .frame,
#app.dev .frame.active {
    left:  auto;
    top: auto;
    bottom:  auto;
    display: block;
}
